.container{
    width: 100vw;
    height: auto;
    display: flex;
}
.container .post{
    width: 70%;
}
.container .sidebar{
    width: 30%;
    
}
.container .post div{
    width: 100%;
    height: 500px;
}
.container .post div img{
    width: 100%;
    height: 100%;

}
.icons{
    display: flex;
}
